
html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #454445;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #2C383B;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    width: 1200px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    background: #2b2b2b url(images/auction.jpg) no-repeat center;
    background-size: 100%;
}

#header {
    position: relative;
    height: 300px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    position: absolute;
    top: 3em;
    width: 100%;
}

#logo h1 {
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
// color: #ED7070;
    color: #1757ae;
    padding-right: 0.50em;
    border-right: 1px solid rgba(0,0,0,.1);
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    right: 0;
    top: 14em;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span
{
    display: inline-block;
    margin-left: 1px;
    padding: 1em 1.5em 1em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a, #menu li.active a
{
    background: #1757ae;
    border-radius: 30px;
    color: #FFF;
}

#menu .current_page_item a
{
    background: #1757ae;
    border-radius: 30px;
    color: #FFF;
}
